[user]
	name = Divkov575
	email = dmitriy@ivkov.net
	username = DIvkov575
[credential]
	helper = cache
[init]
	defaultBranch = main
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
